altgraph==0.17.4
packaging==25.0
pyinstaller==6.14.2
pyinstaller-hooks-contrib==2025.5
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
python-dotenv==1.1.1
pywin32-ctypes==0.2.3
scipy==1.17.1
vtracer==0.6.15
